p {
  background-color: aqua;
  color: brown;
  font-size: medium;
}
h2 {
  color: cadetblue;
  background-color: yellow;
}
div {
  background-color: thistle;
  margin: 10px;
}
span {
  background-color: violet;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: wheat;
}
